body {
    color: grey;
    font-family: Arial, sans-serif;
    }
a {
  color: red;
}

a:visited {
  color: red;
}
a:hover {
  color: green;
}

#header {
  text-align: center;
  color: blue;
}

#content {
  color: black;
  background-color: yellow;
}
